body{
    background-image: url(../imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.fly1{
    width: 50px;
    height: 50px;
}

.fly2{
    width: 100px;
    height: 100px;
}

.fly3{
    width: 150px;
    height: 150px;
}

.flySide1{
    transform: scaleX(1);
}

.flySide2{
    transform: scaleX(-1);
}

.panel{
    position: absolute;
    left: 0px;
    width: 262px;
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px white;
    background-color: white;
    opacity: 0.7;
}

.life{
    float: left;
}

.timer{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.game-over{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nivel{
    margin: 20px;
    width: 250px;
}

.end-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 150px;
  height: 70px;
}

.end-button:hover {
  background-color: #2c974b;
}

.end-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}